root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.nix]
indent_size = 2

[*.{vo,vok,vos,glob,aux,cache,lock}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

[.envrc]
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

[*.v]
indent_size = 2
